<section>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <app-input
      icon="bi bi-people"
      label="Nome"
      type="text"
      [control]="form.controls.name"
    ></app-input>
    <app-input
      icon="bi bi-envelope-at"
      label="E-mail"
      type="email"
      [control]="form.controls.email"
    ></app-input>
    <app-input
      icon="bi bi-telephone"
      label="00 00000-0000"
      type="text"
      [control]="form.controls.phone"
    ></app-input>
    <app-button
      [disabled]="!form.valid"
      text="Continuar"
      type="submit"
    ></app-button>
  </form>
</section>
