:host {
  width: 70%;
}

@media (max-width: 500px) {
  :host {
    width: 100%;
  }
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}
.select-state {
  overflow-y: scroll;
}
.select-state option {
  height: 1.5rem !important;
}

input {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

input:focus {
  border-color: var(--light-green-aqua-500);
  box-shadow: 0 0 0 0.25rem var(--light-green-aqua-400);
}
