<section>
  <form (ngSubmit)="onSubmit()">
    <select
      class="form-select form-select-lg mb-3 select-state"
      aria-label=".form-select-lg example"
      name="select-state"
      [(ngModel)]="valueSelectState"
      (ngModelChange)="onChangeState($event)"
    >
      <option *ngFor="let state of states" [value]="state">
        {{ state }}
      </option>
    </select>
    <select
      class="form-select form-select-lg mb-3"
      aria-label=".form-select-lg example"
      name="select-city"
      [(ngModel)]="valueSelectCity"
      (ngModelChange)="onChangeCity($event)"
      [disabled]="!valueSelectState"
    >
      <option *ngFor="let city of citys" [value]="city">
        {{ city }}
      </option>
    </select>
    <div class="input-group">
      <span class="input-group-text container-icon"
        ><i [class]="icon"></i
      ></span>
      <input
        name="address"
        [(ngModel)]="valueInput"
        (ngModelChange)="onChange($event)"
        [ngbTypeahead]="search"
        [disabled]="!valueSelectCity"
        id="typeahead-focus"
        type="text"
        class="form-control"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
      />
    </div>

    <div class="container-buttons">
      <app-button text="Voltar" (emmitClick)="onBack()"></app-button>
      <app-button
        text="Continuar"
        type="submit"
        [disabled]="!valueInput || !valueSelectCity || !valueSelectState"
      ></app-button>
    </div>
  </form>
</section>
